.w-auto {
    width: auto;
}


//Width
@for $i from 1 through 10 {
    .w-#{$i *10} {
        width: $i * 10%;
    }
}

@for $i from 1 through 9 {
    .w-#{$i *10 +5} {
        width: $i * 10% +5;
    }
}

.h-auto {
    height: auto;
}


//Height
@for $i from 1 through 10 {
    .h-#{$i *10} {
        height: $i * 10%;
    }
}

@for $i from 1 through 9 {
    .h-#{$i *10 +5} {
        height: $i * 10% +5;
    }
}


