.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-end {
    text-align: end;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify-all {
    text-align: justify-all;
}

.text-match-parent {
    text-align: match-parent;
}

.text-start {
    text-align: start;
}
