:root {
    //Colors
    --black: black;
    --white: #fdfdfd;
    --primary: #0097e6;
    --primary-lighter: #06b0e6;
    --success: #44bd32;
    --success-lighter: #62bd32;
    --warning: #e1b12c;
    --warning-lighter: #e1c52c;
    --danger: #c23616;
    --danger-lighter: #c22f3e;

    //Color Scheme
    --blue: #2980b9;
    --blue-lighter: #34abf4;
    --pink: #833471;
    --pink-lighter: #cb51af;
    --green: #0a3d62;
    --green-lighter: #1169a8;
    --grey: #34495e;
    --grey-lighter: #5f85ab;
    --coral: #e58e26;
    --coral-lighter: #ffaa5a;
    --purple: #8c7ae6;
    --purple-lighter: #9a7ce6;


    //Colors Code

    //General
    --background-editor: #263238;
    --text-special: #89ddff;
    --comment: #546e7a;
    --text-general: #c3cee3;

    //Python
    --py-key-violet: #BD92EA;
    --py-parameter-red: #F78C6C;
    --py-method-blue: #82AAFF;
    --py-string-green: #C3E88D;

    //HTML
    --html-key-red: #F07178;
    --html-key-yellow: #ffcb6b;
    --html-key-green: #c3e88d;
}
