:root {
    //Colors
    --black: black;
    --white: #fdfdfd;
    --primary: #0097e6;
    --primary-lighter: #09c0e6;
    --primary-w: #b3e2ff;
    --success: #1af400;
    --success-w: #b2f2aa;
    --success-lighter: #5cf249;
    --warning: #ffbf00;
    --warning-w: #ffebb3;
    --warning-lighter: #ffd666;
    --danger: #e61f00;
    --danger-w: #e6aaa1;
    --danger-lighter: #ff4d64;

    //Color Scheme
    --blue: #009dff;
    --blue-w: #b3e2ff;
    --blue-lighter: #4dbbff;
    --pink: #ff00cc;
    --pink-w: #ffb3f0;
    --pink-lighter: #ff4ddb;
    --green: #0a3d62;
    --green-w: #0a3d62;
    --green-lighter: #1169a8;
    --grey: #34495e;
    --grey-w: #34495e;
    --grey-lighter: #5f85ab;
    --coral: #ff8800;
    --coral-w: #ffdab3;
    --coral-lighter: #ffa94d;
    --purple: #8c7ae6;
    --purple-w: #8c7ae6;
    --purple-lighter: #9a7ce6;


    //Colors Code

    //General
    --background-editor: #263238;
    --text-special: #89ddff;
    --comment: #546e7a;
    --text-general: #c3cee3;

    //Python
    --py-key-violet: #BD92EA;
    --py-parameter-red: #F78C6C;
    --py-method-blue: #82AAFF;
    --py-string-green: #C3E88D;

    //HTML
    --html-key-red: #F07178;
    --html-key-yellow: #ffcb6b;
    --html-key-green: #c3e88d;
}
