.img-of-fill{
    object-fit: fill;
}

.img-of-contain{
    object-fit: contain;
}

.img-of-cover{
    object-fit: cover;
}

.img-of-scale-down{
    object-fit: scale-down;
}

.img-of-none{
    object-fit: none;
}

.img-of-scale-down{
    object-fit: scale-down;
}

.img-of-inherit{
    object-fit: inherit;
}

.img-of-initial{
    object-fit: initial;
}

.img-of-revert{
    object-fit: revert;
}

.img-of-unset{
    object-fit: unset;
}
